//Colors
$primary-color: white;
$footer-font-color: #bbb;
$button-background-color: #ff2e93;
$primary-background-color: #663399;
$secondary-background-color: #00e6b3;
$projects-paragraph-color: #ccc;

//Font
$normal-font: 400;
$medium-font: 500;

//Margin
$margin: 40px auto;
