// Components like header,footer,navbar...
@use 'base' as b;

nav {
  display: grid;
  grid-template-columns: 3fr 1fr; // 3:1 space taken
  margin: b.$margin;

  &--links {
    display: inline-block;
    text-align: right;
  }
  a {
    display: inline-block;
    margin-left: 20px;
    font-weight: b.$normal-font;
    padding-bottom: 2px;
    border-bottom: 3px solid transparent;
    &:hover {
      border-color: b.$button-background-color;
    }
  }
}

.btn {
  display: inline-block;
  background: b.$button-background-color;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: b.$medium-font;
}

.projects {
  &--portfolio {
    text-align: center;
    & > h2 {
      font-size: 3em;
      margin-top: 80px;
    }
    & > h3 {
      font-size: 2em;
      font-weight: b.$normal-font;
    }
  }
  &--projectlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;

    h3 {
      text-align: center;
      margin: 20px auto 0px;
      font-weight: b.$medium-font;
    }

    p {
      color: b.$projects-paragraph-color;
      margin-top: 4px;
    }
  }
}
